@font-face {
  font-family: "Neutra2Display";
  font-weight: bold;
  src: url('/assets/neutraface2display-bold.otf');
}

@font-face {
  font-family: "Neutra2Display";
  font-weight: normal;
  src: url('/assets/Neutraface2Display-bold.otf');
}

@font-face {
  font-family: "Neutra2Display-Medium";
  font-weight: normal;
  src: url('/assets/neutraface2display-medium.otf')
}

@font-face {
  font-family: 'Neutra2Display-Titling';
  font-weight: normal;
  src: url('/assets/neutraface2display-titling.otf')
}
